<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/my-style.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
</style>
</head>

<body>

<header th:replace="fragments/base.html :: menu"></header>

    <div class="scheda" id="schedaBuffet">
    <div class="schedaText">
      <h1 class="titoloScheda" th:text="${buffet.nome}">nome</h1>
      <h4 th:text="${buffet.descrizione}">descrizione</h4>
      <h4> Chef: <a href="public/chef/chef.html" th:href="@{'/chef'+'/'+${chef.id}}"
        th:text="${chef.nome}+' '+${chef.cognome}">nome chef</a> </h4>
     <div class=corpoElenco>
     <h3> Menù:</h3>
      <div th:each="piatto : ${piatti}"> 
      <p> <a href="public/piatto/piatto.html" th:href="@{'/piatto'+'/'+${piatto.id}}"
        th:text="${piatto.nome}">nome piatto</a> </p>
      </div>
    </div>
    </div>
    <div class="immagineChef">
      <img src="/iNostribuffet.jpg" class="img" height="90%">
    </div>
  </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>
