<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/my-style.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
</style>
</head>

<body>

<header th:replace="fragments/base.html :: menuAdmin"></header>

    <div class="elenco" id="elencoIngredientiAdmin">
    <div class="elencoText">
      <h1 class="titoloElenco">I nostri ingredienti</h1>
     <div class=corpoElenco>
      <div th:each="ingrediente : ${listaIngredienti}"> 
      <h4> <a href="public/ingrediente/ingrediente.html" th:href="@{'/admin/ingrediente'+'/'+${ingrediente.id}}"
        th:text="${ingrediente.nome}">nome</a> </h4>
      <form th:action="@{'/admin/toDeleteIngrediente'+'/'+${ingrediente.id}}" method="POST">
				<span><button class="deleteButton" type="cancella">cancella</button></span>
	</form>
      </div>
      <form th:action="@{/admin/ingredienteForm}" method="POST">
				<span><button class="addButton" type="Inserisci un nuovo ingrediente">Inserisci un nuovo ingrediente</button></span>
	</form>
    </div>
    </div>
    <div class="immagineBuffet">
      <img src="/iNostribuffet.jpg" class="img" height="90%">
    </div>
  </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>




