!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.nome})">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/my-style.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
</style>
</head>

<body>

<header th:replace="fragments/base.html :: menuAdmin"></header>

    <div class="elenco" id="elencoBuffetAdmin">
    <div class="elencoText">
      <h1 class="titoloElenco">I nostri buffet</h1>
     <div class=corpoElenco>
      <div th:each="buffet : ${listaBuffet}"> 
      <h4> <a href="public/buffet/buffet.html" th:href="@{'/admin/buffet'+'/'+${buffet.id}}"
        th:text="${buffet.nome}">nome</a> </h4>
      <p th:text="${buffet.descrizione}">descrizione</p>
      <form th:action="@{'/admin/toDeleteBuffet'+'/'+${buffet.id}}" method="POST">
				<span><button class="deleteButton" type="cancella">cancella</button></span>
	</form>
      </div>
      <form th:action="@{/admin/buffetForm}" method="POST">
				<span><button class="addButton" type="Inserisci un nuovo buffet">Inserisci un nuovo buffet</button></span>
	</form>
    </div>
    </div>
    <div class="immagineBuffet">
      <img src="/iNostribuffet.jpg" class="img" height="90%">
    </div>
  </div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>




